{
  "env": {
    "node": true,
  },
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "comma-style": [2, "last"],
    "func-style": [2, "declaration"],
    "no-inline-comments": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "camelcase": 2,
    "eol-last": 2,
    "curly": [2, "multi-line"],
    "space-after-function-name": 0,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": 2,
    "space-in-parens": [2, "never"],
    "space-in-brackets": [2, "never"],
    "space-before-function-parentheses": [2, "never"],
    "no-shadow": 0,
    "dot-notation": [2, {"allowPattern": "^[a-zA-Z0-9]+(_[a-zA-Z0-9]+)+$"}],
    "no-reserved-keys": 2,
    "eqeqeq": [2, "smart"],
    "complexity": [1, 10],
    "max-depth": [1, 4],
    "max-len": [1, 80],
    "max-params": [1, 6],
    "max-nested-callbacks": [1, 8],
    "max-statements": [1, 30],
    "default-case": 2,
    "guard-for-in": 2,
    "no-floating-decimal": 2,
    "no-else-return": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-sync": 2,
    "no-nested-ternary": 2,
    "operator-assignment": [2, "always"],
    "semi": [1, "never"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "quotes": [2, "double", "avoid-escape"],
    "spaced-line-comment": [1, "always", {"exceptions": ["-","+"]}],
    "no-plusplus": 2,
    "no-bitwise": 2,
    "no-use-before-define": 0
  }
}
